<!--
 _   _      _ _            _         _ 
| | | | ___| (_) __ _  ___| |_ _   _| |
| |_| |/ _ \ | |/ _` |/ __| __| | | | |
|  _  |  __/ | | (_| | (__| |_| |_| | |
|_| |_|\___|_|_|\__,_|\___|\__|\__, |_|
                               |___/   
                               
This dashboard is running 16th-generation Heliactyl, codename Summit Ridge.
The version in use was released in February 2027 and uses version ID 22750.

Copyright 2027 SRYDEN, Inc.

-->

<!doctype html>
<html class="h-full bg-[#0f1012]">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/tailwind.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body class="h-full" style="font-family: 'Space Grotesk'">
<div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <img class="mx-auto h-16 w-auto" src="https://cdn.discordapp.com/attachments/1170429889829154970/1195359842483851305/sdfsdf_1.png?ex=65b3b49b&is=65a13f9b&hm=6746b8da05a26b2a61a140a6d75fdee734c57bdfbf4b60893f96eb8aa44033a7&" alt="Your Company">
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
    <div class="bg-zinc-600/10 px-6 py-12 border border-white/5 sm:px-12">
            <div>
        <div class="relative">
    <h2 class="text-center text-md font-medium leading-9 text-white">Halex does not support mobile devices yet.</h2>
   <h2 class="text-center text-xs font-normal text-zinc-500">Please come back on a desktop device such as a PC.</span></h2>
        </div>
      </div>
    </div>

    <p class="mt-10 text-center text-sm text-zinc-500">
      &copy; 2024 Halex, Inc.
    </p>
    <p class="mt-1 text-center text-sm text-zinc-600">
      Privacy Policy &nbsp; Terms of Use
    </p>
  </div>
</div>
</body>